.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
  
    color: rgb(19, 58, 19);
  }
  
  .title span {
    color: #00875F;
  }
  
  .subtitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: rgb(19, 58, 19);
  }
  